<h1>New Booking</h1>
<%= form_with(model: @booking) do |form| %>
  <%= form.hidden_field :camera_id %>

  <%= form.label :start_date, "Start Date" %>
  <%= form.text_field :start_date, id: "start_date_picker" %>

  <%= form.label :end_date, "End Date" %>
  <%= form.text_field :end_date, id: "end_date_picker" %>

  <%= form.submit "Submit" %>
<% end %>
<% if @booking.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
