<h1>Booking Details</h1>
<p><strong>Model:</strong> <%= @booking.camera.model %></p>
<p><strong>From:</strong> <%= @booking.start_date %></p>
<p><strong>From:</strong> <%= @booking.end_date %></p>
<p><strong>Owner:</strong> <%= @booking.camera.user.name %></p>
<p><strong>Renter:</strong> <%= @booking.user.name %></p>
<%= form_with(model: @booking, method: :delete, url: booking_path(@booking)) do |form| %>
    <%= form.submit 'Delete' %>
<% end %>
<%= link_to "More Cameras", root_path %>
