<div class="booking-form">
  <h1>Book this camera</h1>
  <%= form_with(model: @booking) do |form| %>
    <%= form.hidden_field :camera_id %>
  <div class="field">
    <%= form.date_field :date_field, placeholder: 'From', class: 'datepicker', id: 'start_date', required: true %>

  </div>
  <div class="field">
    <%= form.date_field :date_field, placeholder: 'To',class: 'datepicker', id: 'end_date', required: true %>
  </div>
    <%= form.submit "Book", class:"btn btn-secondary"%>
  <% end %>
  <% if @booking.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
