<div class="card <%= card_style %>">
  <% if camera.photo.attached? %>
    <% camera.photo.each do |photo| %>
      <%= image_tag photo if photo %>
    <% end %>
  <% end %>
  <div class="info">
    <h4>Model: <%= camera.model %></h4>
    <p>Year: <%= camera.year %></p>
    <p>Condition: <%= camera.condition %></p>
    <p>Price: <%= camera.price %></p>
  </div>
</div>
