<div class="card">
  <% if camera.photo.attached? %>
    <% camera.photo.each do |photo| %>
      <%= image_tag photo if photo %>
    <% end %>
  <% end %>
  <div class="info">
    <h4><%= camera.model %></h4>
    <p><%= camera.year %></p>
    <p><%= camera.condition %></p>
    <p><%= camera.price %></p>
  </div>
</div>
