<div class="card <%= card_style %>">
  <% if camera.photo.attached? %>
    <% camera.photo.each do |photo| %>
      <div class="img-container">
        <% if camera.bookings.present? && camera.user != current_user %>
          <span class="badge badge-warning">Already Booked</span>
        <% end %>
        <%= image_tag photo if photo %>
      </div>
    <% end %>
  <% end %>
  <div class="info-container">
    <h4 class="model"><%= camera.model %></h4>
    <p class="year"><%= camera.year %> • <%= camera.condition %></p>
    <p class="price">$<%= camera.price %> <span>day</span> </p>
    <p class="owner">by <%= camera.user.name %></p>
  </div>
</div>
