<div class="container home">
  <div class="search">
    <div class="search-form">
      <%= form_tag(root_path, method: :get, class: "search-form") do %>
        <%= text_field_tag(:search, params[:search], placeholder: "Search cameras") %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
    </div>
      <%# <h4>Filter by:</h4> %>
    <div class="filters">
      <a class="btn btn-secondary" data-filter="condition">Filter by:</a>
      <div class="filter filter-box condition hidden">
          <%= link_to "Condition: New to used", { order_by: 'condition', sort_direction: 'asc' } %>
          <%= link_to "Condition: Used to new", { order_by: 'condition', sort_direction: 'desc' } %>
          <%= link_to 'Price: Lower to higher', { order_by: 'price', sort_direction: 'asc' } %>
          <%= link_to 'Price: Higher to low', { order_by: 'price', sort_direction: 'desc' } %>
      </div>
    </div>
  </div>
  <div class="camera-list">
		<% @cameras.each do |camera| %>
      <% unless user_signed_in? && camera.user == current_user %>
        <%= link_to camera_path(camera), class: "card-link" do %>
          <%= render 'shared/card', camera: camera, card_style: 'home-card' %>
        <% end %>
      <% end %>
		<% end %>
  </div >
</div>
