<h1>New Camera</h1>
<%= form_with(model: @camera, url: cameras_path, local: true) do |form| %>
  <div>
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>
  <div>
    <%= form.label :year %>
    <%= form.select :year, options_for_select((1950..Date.today.year).to_a.reverse) %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price, placeholder: 'Enter price' %>
  </div>
  <div>
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>
  <div>
    <%= form.submit 'Add Camera' %>
  </div>
<% end %>
<p><%= link_to 'Back', cameras_path %></p>
<% if @camera.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
