<div class="show container">
  <h3><%= @camera.brand %></h3>
  <h1> <%= @camera.model %></h1>
  <%= render partial: 'shared/card', locals: { camera: @camera, card_style: 'show-card' } %>
<div class="review-booking">
  <div class="reviews">
    <%= render partial: 'shared/reviews', locals: { reviews: @reviews } %>
    <% if user_signed_in? && @camera.user != current_user %>
      <%= render partial: 'shared/review_form', locals: { reviews: @reviews } %>
    <% end %>
  </div>
    <% if user_signed_in? && @camera.user != current_user %>
      <%= render partial: 'shared/booking_form', locals: { camera: @camera } %>
    <% elsif user_signed_in? && @camera.user == current_user %>
      <% if @bookings.present? && @camera.user == current_user %>
        <div class="bookings">
          <h3>Bookings for this camera</h3>
            <ul>
              <% @bookings.order(start_date: :asc).each do |booking| %>
                <li>
                <%= link_to booking_path(booking) do %>
                  <p class="booking"> <span> <%= booking.start_date %> </span> to <span> <%= booking.end_date %> </span> <br> by <%= booking.user&.name %></p>
                <% end %>
                </li>
              <% end %>
            </ul>
      <% elsif !@bookings.present? && @camera.user == current_user%>
          <h3>No bookings</h3>
        </div>
      <% end %>
    <% else %>
      <div class="login-signup">
        <%= link_to 'Signup', new_user_registration_path, class: "btn btn-primary" %>
        <p>or</p>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
        <p>to book this camera.</p>
      </div>
    <% end %>
  </div>
</div>
<div class="controls">
  <% if user_signed_in? && @camera.user == current_user %>
    <%= link_to 'Edit', edit_camera_path(@camera), class: "btn btn-secondary" %>
    <%= form_with(model: @camera, method: :delete, url: camera_path(@camera)) do |form| %>
      <%= form.submit 'Delete', class:"btn btn-delete" %>
    <% end %>
  <% end %>

</div>
</div>
