<h1>Camera Details</h1>
<p><strong>Model:</strong> <%= @camera.model %></p>
<p><strong>Year:</strong> <%= @camera.year %></p>
<p><strong>Condition:</strong> <%= @camera.condition %></p>
<p><strong>Price:</strong> <%= @camera.price %></p>
<p><strong>Owner:</strong> <%= @camera.user.name %></p>
<% if user_signed_in? && @camera.user == current_user %>
  <p><%= link_to 'Edit', edit_camera_path(@camera) %></p>
  <%= form_with(model: @camera, method: :delete, url: camera_path(@camera)) do |form| %>
    <%= form.submit 'Delete' %>
  <% end %>
<% end %>
<% if user_signed_in? && @camera.user != current_user %>
  <%= link_to "Book this camera", new_booking_path(camera_id: @camera.id), class: "btn btn-primary" %>
<% end %>

<p><%= link_to 'Back', cameras_path %></p>
